nav {
    background-color: #000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer a, nav a {
    color: #ffffff;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
}

main a {
    color: #fd5a5a;
    padding: 10px;
}

a:hover {
    color: #e100ff;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

p {
    text-align: center;
}

main {
    width: 80%;
    margin: 0 auto;
}

main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 20px;
    background-color: #000;
    color: #fff;
}

hr {
    width: 50%;
    margin: 20px auto;
}

body {
    background-color: #feedff;
}

.banner {
    background-color: #ffbb00;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}