@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,700&display=swap');

nav {
    background-color: #941010;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer a, nav a {
    color: #ffffff;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

main a {
    color: #fd5a5a;
    padding: 10px;
}

a:hover {
    color: #e100ff;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

p {
    text-align: center;
    color: white;
}

main {
    width: 80%;
    margin: 0 auto;
}

main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 50%;
    margin: 20px auto;
}

body {
    background-image: url("../img/bg.png");
}

.banner {
    background-color: #ffbb00;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

#time {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-bottom: 5px;
    color : #861b00;
}